# ==========================================================
# Copyright (c) 2026 Apple Music <<3
# All Rights Reserved.
#
# Project      : Apple Music Telegram Music Bot
# Powered By   : Apple Music <<3
# Type         : API Based Telegram Music Bot
#
# Bot          : @AppleMusix_bot
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================
API_ID=your_api_id
API_HASH=your_api_hash
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
OWNER_USERNAME=Aashish_0fficial
STRING_SESSION=
ARTISTBOTS_API_URL=
ARTISTBOTS_KEY=
